<div class="container">
  
  <div class="row">
    <div class="col-md-12">
      <h1>Finder</h1>
    </div>
    <div class="col-md-12">
      <div class="input-group">
        <input (keyup)="onKey(tag,$event)" [(ngModel)]="tag" type="text" class="form-control" placeholder="Buscar palabra...">
        <span class="input-group-btn">
          <button (click)="buscarImagenes(tag)" class="btn btn-default" type="button">Find Images!</button>
        </span>
      </div>
    </div>
    <div class="col-md-12" *ngIf="buscando">
      <br> 
      <p>Searching images....</p>
    </div>
    <div class="col-md-12" *ngIf="noResults">
      <br>
      <p>No se encontraron resultados para..."{{tag}}"</p>
    </div>
    <div class="col-md-12">
      <br>
      <div class="col-md-3 col-sm-6 col-xs-12" *ngFor="let x of images">
        <a routerLink="/image-detail/{{x.user}}/{{x.likes}}">
        <img src="{{x.webformatURL}}" class="img-responsive">
        </a>
          <!--
            <p>User: {{x.user}}</p>
            <p>Comment: {{x.comments}}</p> 
            <p>Likes: {{x.likes}}</p>  -->
      </div>
    </div>
  </div>
</div>